<table>
<tr id="autor">
<td><img src="/images/programador.jpg"></td>
<td id="autor"><b>Nombre</b>: Benito Jos&eacute; Cuesta Viera</td>
</tr>
<tr align="left">
<td colspan="2">
<iframe id="promocion" width="560" height="315" src="https://www.youtube.com/embed/_tpPRm92MLA" frameborder="0"></iframe>
</td>
</tr>
</table>
