<table>
	<% for (q in quizes) { %>
		<tr><td>
		<a href="quizes/<%= quizes[q].id %>"><%= quizes[q].pregunta %></a>
		<a href="quizes/<%= quizes[q].id %>/edit"><button name="Editar">Editar</button></a>
		</td></tr>

	<% } %>
</table>
